.heading {
  display: flex;
  justify-content: space-between;

  button {
    height: 2.8rem;
    text-transform: uppercase;
  }

  h1 {
    font-weight: 300;
    margin-top: 0;
  }
}

table {
  width: 90%;

  td,
  th {
    width: 18%;

    &:last-child {
      width: 6%;
    }
  }

  th:last-child {
    text-align: center;
  }

  .actions {
    display: flex;

    .btn-delete {
      color: #b71c1c;
    }
  }

  .mat-cell {
    padding: 1rem;
  }
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

:host ::ng-deep {
  .mat-mdc-paginator-container {
    margin-bottom: 0.2rem;
  }
}
