.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;

  button {
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 337px) {
  .mat-mdc-dialog-actions button:first-child {
    margin-bottom: 0.5rem;
  }
}
